.loginModal .modal-content {
    color: white;
}

.modal-header {
    justify-content: space-between;
    align-items: center;
}

.loginModalClose {
    width: 25px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.loginModalClose:active {
    border: 2px solid white;

}

.emailLoginContainer, .passwordLoginContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.modal-body {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.modal-header {
    border: none !important;
}

.modal-footer {
    border: none !important;
    justify-content: center;
}

.input-wrapper {
    margin-left: 2rem;
    position: relative;
    width: 200px;
}

.input-box {
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    color: orangered;
    width: 100%;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: orangered;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.input-box:focus {
    border-color: orangered;
    outline: none;
}

.input-box:focus + .underline {
    transform: scaleX(1);
}

.loginButton {
    cursor: pointer;
    position: relative;
    padding: 6px 30px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.loginButton::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: orangered;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.loginButton:hover::before {
    scale: 3;
}

.loginButton:hover {
    color: white;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(255, 69, 0, 0.4);
    border-color: #333333;
}

.loginButton:active {
    scale: 1;
}

.loginButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.successLogin {
    color: greenyellow;
}

.errorLogin {
    color: orangered;
}
